<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xuancanh.studentinformationmanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".StudentReportActivity"></activity>
        <activity android:name=".StudentNoticeFromAdminActivity" />
        <activity android:name=".AdminStudentReportActivity" />
        <activity android:name=".AdminNoticeToStudentActivity" />
        <activity android:name=".AdminStudentViewProfileActivity" />
        <activity android:name=".AdminStudentUpdateActivity" />
        <activity android:name=".AdminStudentViewAllActivity" />
        <activity android:name=".AdminStudentAddActivity" />
        <activity android:name=".StudentViewProfileActivity" />
        <activity android:name=".StudentChangePasswordActivity" />
        <activity android:name=".StudentUpdateActivity" />
        <activity android:name=".StudentMenuActivity" />
        <activity android:name=".AdminForgotPassword" />
        <activity android:name=".AdminChangePasswordActivity" />
        <activity android:name=".StudentRegisterActivity" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".AdminMenuActivity" />
        <activity android:name=".AdminUpdateActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>